@charset "UTF-8";
/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  line-height: inherit;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

iframe {
  vertical-align: bottom;
}

body {
  font-family: 游ゴシック体, 游ゴシック, YuGothic, メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}
@media screen and (max-width: 760px) {
  body {
    font-size: 14px;
  }
}

.fade-in-section {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
  will-change: opacity, transform;
}

.fade-in-section.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.l-footer {
  padding: 100px 0 60px 0;
  background-color: #fff;
}
@media screen and (max-width: 1270px) {
  .l-footer {
    padding: 80px 0 40px 0;
  }
}
@media screen and (max-width: 760px) {
  .l-footer {
    padding: 40px 0 40px 0;
  }
}
.l-footer__inner {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 30px;
}
.l-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 760px) {
  .l-footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.l-footer__logo-img {
  width: 340px;
}
@media screen and (max-width: 1270px) {
  .l-footer__logo-img {
    width: 280px;
  }
}
@media screen and (max-width: 760px) {
  .l-footer__logo-img {
    width: 200px;
  }
}
.l-footer__info {
  font-weight: bold;
}
@media screen and (max-width: 760px) {
  .l-footer__info {
    margin-top: 10px;
  }
}
.l-footer .p-info__tel-img {
  width: 32px;
}
@media screen and (max-width: 1270px) {
  .l-footer .p-info__tel-img {
    width: 24px;
  }
}
@media screen and (max-width: 760px) {
  .l-footer .p-info__tel-img {
    width: 20px;
  }
}
.l-footer .p-info__tel {
  font-size: 36px;
  line-height: 1.2;
}
@media screen and (max-width: 1270px) {
  .l-footer .p-info__tel {
    font-size: 28px;
  }
}
@media screen and (max-width: 760px) {
  .l-footer .p-info__tel {
    font-size: 24px;
  }
}
.l-footer .p-info__text {
  font-size: 16px;
}
@media screen and (max-width: 1270px) {
  .l-footer .p-info__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 760px) {
  .l-footer .p-info__text {
    font-size: 12px;
  }
}
.l-footer__copyright {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
}

.l-inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 760px) {
  .l-inner {
    padding: 0 20px;
  }
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.l-header__inner {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 1270px) {
  .l-header__inner {
    height: 120px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 760px) {
  .l-header__inner {
    height: 90px;
  }
}
.l-header__logo {
  width: 220px;
}
@media screen and (max-width: 760px) {
  .l-header__logo {
    width: 180px;
  }
}
.l-header__logo-link {
  display: block;
}
.l-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media screen and (max-width: 1270px) {
  .l-header__nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    visibility: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: visibility 0.3s, opacity 0.3s ease;
    transition: visibility 0.3s, opacity 0.3s ease;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .l-header__nav.is-show {
    visibility: visible;
    opacity: 1;
  }
}
.l-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media screen and (max-width: 1270px) {
  .l-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}
@media screen and (max-width: 760px) {
  .l-header__list {
    row-gap: 20px;
  }
}
.l-header__item {
  font-size: 18px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 760px) {
  .l-header__item {
    font-size: 16px;
  }
}
.l-header__item span {
  display: block;
  font-size: 12px;
  margin-top: 4px;
  letter-spacing: initial;
}
.l-header__item-link {
  display: block;
}
.l-header__info {
  border-left: 1px solid #000;
  padding-left: 30px;
}
@media screen and (max-width: 1270px) {
  .l-header__info {
    padding-left: 0;
    border-left: none;
  }
}

.l-header.is-active .l-header__inner {
  height: 120px;
}
@media screen and (max-width: 1270px) {
  .l-header.is-active .l-header__inner {
    height: 100px;
  }
}
@media screen and (max-width: 760px) {
  .l-header.is-active .l-header__inner {
    height: 90px;
  }
}

.l-section {
  padding: 70px 0;
}
@media screen and (max-width: 760px) {
  .l-section {
    padding: 50px 0;
  }
}

.l-section--gray {
  background-color: #f2f2f2;
}

.l-wrapper {
  overflow: hidden;
}

.c-btn-menu {
  display: none;
}
@media screen and (max-width: 1270px) {
  .c-btn-menu {
    position: absolute;
    z-index: 100;
    display: grid;
    place-items: center;
    width: 60px;
    height: 60px;
    padding: 13px;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media screen and (max-width: 760px) {
  .c-btn-menu {
    width: 54px;
    height: 54px;
    right: 10px;
  }
}
.c-btn-menu__line {
  position: relative;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 4px;
  background-color: #000;
}
.c-btn-menu__line::before, .c-btn-menu__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: inherit;
  transition: inherit;
  border-radius: 4px;
  background-color: inherit;
}
.c-btn-menu__line::before {
  top: -8px;
}
@media screen and (max-width: 760px) {
  .c-btn-menu__line::before {
    top: -7px;
  }
}
.c-btn-menu__line::after {
  bottom: -8px;
}
@media screen and (max-width: 760px) {
  .c-btn-menu__line::after {
    bottom: -7px;
  }
}
.c-btn-menu.is-active .c-btn-menu__line {
  background-color: transparent;
}
.c-btn-menu.is-active .c-btn-menu__line::before, .c-btn-menu.is-active .c-btn-menu__line::after {
  top: 0;
  background-color: #000;
}
.c-btn-menu.is-active .c-btn-menu__line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.c-btn-menu.is-active .c-btn-menu__line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-heading {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 760px) {
  .c-heading {
    font-size: 20px;
  }
}

.c-more {
  display: inline-block;
  position: relative;
  padding-right: 50px;
  font-size: 14px;
  text-decoration: underline;
}
.c-more::after {
  position: absolute;
  display: block;
  content: "";
  width: 37px;
  height: 5px;
  background-image: url(../img/arrow.svg);
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-85%);
          transform: translateY(-85%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.c-more:hover::after {
  right: -10px;
}
.c-more--reverse {
  padding-right: 0;
  padding-left: 50px;
}
.c-more--reverse::after {
  background-image: url(../img/arrow2.svg);
  left: 0;
}
.c-more--reverse:hover::after {
  left: -10px;
}

.c-label {
  display: inline-block;
  font-size: 12px;
  padding: 3px 10px 2px;
  border-radius: 20px;
  width: 90px;
  text-align: center;
  border: 1px solid #000;
}

.c-label2 {
  display: inline-block;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 10px 30px;
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  .p-access {
    padding-top: 80px;
  }
}
.p-access__heading {
  text-align: center;
}
.p-access__body {
  margin-top: 30px;
}
.p-access__map-wrapper iframe {
  width: 100%;
  height: 450px;
}
.p-access__address {
  margin-top: 30px;
  text-align: center;
}
@media screen and (max-width: 760px) {
  .p-access__address {
    margin-top: 15px;
  }
}
.p-access__address span {
  font-weight: bold;
}
.p-access__text-wrapper {
  margin-top: 80px;
}
@media screen and (max-width: 760px) {
  .p-access__text-wrapper {
    margin-top: 50px;
  }
}
.p-access__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 60px;
}
@media screen and (max-width: 760px) {
  .p-access__list {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
}
.p-access__item-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 16px;
}
@media screen and (max-width: 760px) {
  .p-access__item-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.p-blog-item {
  border-radius: 20px;
}
.p-blog-item__link {
  display: block;
}
.p-blog-item__img-wrapper {
  position: relative;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  height: 180px;
}
@media screen and (max-width: 760px) {
  .p-blog-item__img-wrapper {
    height: 150px;
  }
}
.p-blog-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-blog-item__category {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 0 15px 0 0;
}
.p-blog-item__text-wrapper {
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 0 0 20px 20px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 760px) {
  .p-blog-item__text-wrapper {
    padding: 25px 20px;
    height: 180px;
  }
}
.p-blog-item__title {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.1em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
@media screen and (max-width: 760px) {
  .p-blog-item__title {
    font-size: 16px;
  }
}
.p-blog-item__text {
  margin-top: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.p-blog-single {
  padding-top: 70px;
}
@media screen and (max-width: 760px) {
  .p-blog-single {
    padding-bottom: 50px;
  }
}
.p-blog-single__heading-wrapper {
  text-align: center;
}
.p-blog-single__heading {
  margin-top: 8px;
}
@media screen and (max-width: 760px) {
  .p-blog-single__heading {
    margin-top: 14px;
  }
}
.p-blog-single__body {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (max-width: 760px) {
  .p-blog-single__body {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
.p-blog-single__thumbnail {
  height: 400px;
  margin-bottom: 60px;
}
@media screen and (max-width: 760px) {
  .p-blog-single__thumbnail {
    height: 200px;
    margin-bottom: 30px;
  }
}
.p-blog-single__thumbnail-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-blog-single__content p {
  margin-top: 30px;
  line-height: 1.8;
}
.p-blog-single__more {
  text-align: center;
  margin-top: 60px;
}
.p-blog-single__more-link {
  font-size: 14px;
  text-decoration: underline;
}

.p-blog__heading {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 760px) {
  .p-blog__heading {
    margin-bottom: 30px;
  }
}
.p-blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 40px;
}
@media screen and (max-width: 760px) {
  .p-blog__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.p-blog__more {
  margin-top: 60px;
  text-align: center;
}
.p-blog__title {
  text-align: center;
  margin-bottom: 60px;
}

.archive .p-blog {
  padding-bottom: 70px;
  margin-top: 140px;
  position: relative;
}
@media screen and (max-width: 760px) {
  .archive .p-blog {
    margin-top: 100px;
    padding-bottom: 50px;
  }
}
.archive .p-blog::after {
  position: absolute;
  content: " ";
  top: -80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 700px;
  height: 700px;
  background: #f2f2f2;
  border-radius: 50%;
  z-index: 1;
}
@media screen and (max-width: 760px) {
  .archive .p-blog::after {
    width: 800px;
    height: 800px;
    top: -50px;
  }
}
.archive .p-blog__inner {
  position: relative;
  z-index: 2;
}
.archive .p-blog__body {
  margin-top: 60px;
}
@media screen and (max-width: 760px) {
  .archive .p-blog__body {
    margin-top: 40px;
  }
}
@media screen and (max-width: 760px) {
  .archive .p-blog__title {
    margin-bottom: 30px;
  }
}

.p-breadcrumb {
  margin-top: 30px;
  font-size: 13px;
}
.p-breadcrumb span {
  text-decoration: underline;
}

.p-care-item {
  padding: 30px;
  border-bottom: 2px solid #e2e2e2;
}
.p-care-item:nth-child(even) {
  border-left: 2px solid #e2e2e2;
}
@media screen and (max-width: 760px) {
  .p-care-item:nth-child(even) {
    border-left: none;
  }
}
.p-care-item:first-child {
  border-top: 2px solid #e2e2e2;
}
.p-care-item:nth-child(2) {
  border-top: 2px solid #e2e2e2;
}
@media screen and (max-width: 760px) {
  .p-care-item:nth-child(2) {
    border-top: none;
  }
}
.p-care-item__img-wrapper {
  height: 60px;
  text-align: center;
}
@media screen and (max-width: 760px) {
  .p-care-item__img-wrapper {
    height: 40px;
  }
}
.p-care-item__img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.p-care-item__title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 760px) {
  .p-care-item__title {
    font-size: 18px;
    margin-top: 12px;
  }
}
.p-care-item__desc {
  margin-top: 20px;
}
.p-care-item__more {
  margin-top: 20px;
  text-align: right;
}

.p-care-list-item {
  border: solid 1px #000;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.p-care-list-item__link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}
.p-care-list-item__img-wrapper {
  width: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 30px;
}
@media screen and (max-width: 760px) {
  .p-care-list-item__img-wrapper {
    width: 40px;
    margin-right: 20px;
  }
}

.p-care-list__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media screen and (max-width: 760px) {
  .p-care-list__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-care-single__img-wrapper {
  text-align: center;
}
.p-care-single__img {
  height: 40px;
}
.p-care-single__heading {
  text-align: center;
}
.p-care-single__body {
  margin-top: 60px;
}
@media screen and (max-width: 760px) {
  .p-care-single__body {
    margin-top: 30px;
  }
}

@media screen and (max-width: 760px) {
  .p-care {
    padding-top: 80px;
  }
}
.p-care__heading {
  text-align: center;
}
.p-care__body {
  margin-top: 60px;
}
@media screen and (max-width: 760px) {
  .p-care__body {
    margin-top: 30px;
  }
}
.p-care__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 760px) {
  .p-care__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.p-category-list__inner {
  padding: 40px 0;
  background-color: #fff;
  border-radius: 40px;
  font-weight: bold;
}
@media screen and (max-width: 760px) {
  .p-category-list__inner {
    padding: 30px 0;
  }
}
.p-category-list__lead {
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
  position: relative;
}
@media screen and (max-width: 760px) {
  .p-category-list__lead {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.p-category-list__lead::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  width: 20px;
  height: 20px;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 4px;
}
.p-category-list__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 760px) {
  .p-category-list__item {
    width: calc(50% - 30px);
    text-align: center;
  }
}
.p-category-list__item-link {
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.p-category-list__item-link:hover {
  background-color: #000;
  color: #fff;
}
.p-category-list__item-link.active {
  background-color: #000;
  color: #fff;
}

.archive .p-category-list {
  padding-top: 60px;
}
@media screen and (max-width: 760px) {
  .archive .p-category-list {
    padding-top: 30px;
  }
}

.post-type-archive-blog .p-category-list__item-link--all {
  background-color: #000;
  color: #fff;
}

.p-docter {
  padding-bottom: 70px;
}
@media screen and (max-width: 760px) {
  .p-docter {
    padding-bottom: 50px;
  }
}
.p-docter__heading {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 760px) {
  .p-docter__heading {
    margin-bottom: 30px;
  }
}
.p-docter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
@media screen and (max-width: 1270px) {
  .p-docter__body {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media screen and (max-width: 760px) {
  .p-docter__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.p-docter__img-wrapper {
  width: 50%;
  height: 600px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 1270px) {
  .p-docter__img-wrapper {
    height: 700px;
  }
}
@media screen and (max-width: 760px) {
  .p-docter__img-wrapper {
    width: 100%;
    height: 250px;
    text-align: center;
  }
}
.p-docter__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
.p-docter__name {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 760px) {
  .p-docter__name {
    font-size: 18px;
  }
}
.p-docter__text-wrapper {
  line-height: 2;
}
@media screen and (max-width: 760px) {
  .p-docter__text-wrapper {
    margin-top: 30px;
  }
}
.p-docter__text-wrapper div + div {
  margin-top: 20px;
}

.p-feature {
  text-align: center;
}
@media screen and (max-width: 760px) {
  .p-feature {
    padding-top: 80px;
  }
}
.p-feature__heading {
  font-weight: bold;
}
.p-feature__text-wrapper {
  margin-bottom: 60px;
}
@media screen and (max-width: 760px) {
  .p-feature__text-wrapper {
    margin-bottom: 40px;
  }
}
.p-feature__text01 {
  margin-top: 14px;
  font-size: 34px;
  font-weight: bold;
}
@media screen and (max-width: 1270px) {
  .p-feature__text01 {
    font-size: 30px;
    line-height: 1.6;
  }
}
@media screen and (max-width: 760px) {
  .p-feature__text01 {
    font-size: 20px;
  }
}
.p-feature__text02 {
  margin-top: 32px;
  line-height: 2;
}
.p-feature__img-wrapper {
  height: 250px;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}
.p-feature__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-info__tel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.p-info__tel-img {
  width: 20px;
}
.p-info__tel {
  font-size: 24px;
}
.p-info__text {
  font-size: 12px;
}

@media screen and (max-width: 1270px) {
  .l-header .p-info__tel-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 6px;
  }
}

.p-kv {
  margin-top: 150px;
}
@media screen and (max-width: 1270px) {
  .p-kv {
    margin-top: 120px;
  }
}
@media screen and (max-width: 760px) {
  .p-kv {
    margin-top: 90px;
  }
}
.p-kv__inner {
  height: calc(100vh - 180px);
  padding: 0 30px;
}
@media screen and (max-width: 1270px) {
  .p-kv__inner {
    height: 60vh;
  }
}
@media screen and (max-width: 760px) {
  .p-kv__inner {
    height: 50vh;
    padding: 0 20px;
  }
}
.p-kv__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
@media screen and (max-width: 760px) {
  .p-kv__img {
    border-radius: 15px;
  }
}
@media screen and (max-width: 760px) {
  .p-kv__img--01 {
    -o-object-position: 70%;
       object-position: 70%;
  }
}
@media screen and (max-width: 760px) {
  .p-kv__img--03 {
    -o-object-position: 25%;
       object-position: 25%;
  }
}

.p-news-item {
  padding: 20px 10px;
  border-top: 1px solid #000;
}
.p-news-item:last-child {
  border-bottom: 1px solid #000;
}
.p-news-item__heading {
  margin-bottom: 6px;
}
.p-news-item__date {
  display: inline-block;
  margin-right: 14px;
}
.p-news-item__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
@media screen and (max-width: 760px) {
  .p-news-item__title {
    -webkit-line-clamp: 2;
  }
}

.p-news-single__heading-wrapper {
  text-align: center;
}
.p-news-single__date {
  text-align: right;
  margin-bottom: 10px;
}
.p-news-single__heading {
  margin-bottom: 8px;
}
.p-news-single__body {
  margin-top: 60px;
}

.p-news__heading {
  margin-bottom: 30px;
  text-align: center;
}
.p-news__more {
  margin-top: 30px;
  text-align: right;
}

@media screen and (max-width: 760px) {
  .blog .p-news {
    padding-top: 80px;
  }
}

.p-other-cares {
  padding-top: 30px;
  padding-bottom: 70px;
}
@media screen and (max-width: 760px) {
  .p-other-cares {
    padding-bottom: 50px;
  }
}
.p-other-cares__heading {
  text-align: center;
  margin-bottom: 46px;
}
@media screen and (max-width: 760px) {
  .p-other-cares__heading {
    margin-bottom: 30px;
  }
}
.p-other-cares__more {
  margin-top: 46px;
  text-align: center;
}

.pagination {
  margin-top: 70px;
  width: 100%;
  height: 50px;
}

.nav-links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  font-weight: bold;
}
@media screen and (max-width: 760px) {
  .nav-links {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
}
.nav-links span,
.nav-links a {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
}
.nav-links span.current {
  color: #fff;
  background-color: #000;
}
.nav-links a {
  border: 1px solid #000;
}
.nav-links .prev,
.nav-links .next {
  display: none;
}

.p-paginavi {
  width: 100%;
  height: 22px;
  margin-top: 60px;
  position: relative;
  font-size: 14px;
}
.p-paginavi__prev {
  position: absolute;
  top: 0;
  left: 0;
}
.p-paginavi__center {
  text-decoration: underline;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.p-paginavi__next {
  position: absolute;
  top: 0;
  right: 0;
}

.p-parking {
  padding-top: 30px;
  padding-bottom: 70px;
}
@media screen and (max-width: 760px) {
  .p-parking {
    padding-bottom: 50px;
  }
}
.p-parking__heading {
  text-align: center;
}
.p-parking__body {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media screen and (max-width: 760px) {
  .p-parking__body {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.p-parking__img-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 1270px) {
  .p-parking__img-wrapper {
    width: 45%;
  }
}
@media screen and (max-width: 760px) {
  .p-parking__img-wrapper {
    width: 100%;
  }
}
.p-parking__img {
  height: 270px;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 760px) {
  .p-parking__img {
    height: 200px;
    width: 100%;
  }
}
@media screen and (max-width: 760px) {
  .p-parking__text-wrapper {
    margin-top: 30px;
  }
}
.p-parking__text01 {
  margin-bottom: 20px;
  line-height: 2;
}
.p-parking__text02, .p-parking__text03 {
  font-size: 14px;
  line-height: 1.8;
}

.p-sub-kv {
  margin-top: 150px;
  text-align: right;
}
@media screen and (max-width: 1270px) {
  .p-sub-kv {
    margin-top: 120px;
  }
}
@media screen and (max-width: 760px) {
  .p-sub-kv {
    margin-top: 90px;
  }
}
.p-sub-kv__inner {
  position: relative;
}
.p-sub-kv__img {
  width: 86%;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 0 64px;
}
@media screen and (max-width: 1270px) {
  .p-sub-kv__img {
    height: 300px;
  }
}
@media screen and (max-width: 760px) {
  .p-sub-kv__img {
    height: 150px;
    border-radius: 0 0 0 36px;
  }
}
.p-sub-kv__heading {
  width: 420px;
  height: 148px;
  position: absolute;
  bottom: 72px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 100vh;
}
@media screen and (max-width: 1270px) {
  .p-sub-kv__heading {
    width: 360px;
  }
}
@media screen and (max-width: 760px) {
  .p-sub-kv__heading {
    width: 180px;
    height: 100px;
    bottom: -35px;
  }
}
.p-sub-kv__heading-jp {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 1270px) {
  .p-sub-kv__heading-jp {
    font-size: 32px;
  }
}
@media screen and (max-width: 760px) {
  .p-sub-kv__heading-jp {
    font-size: 22px;
  }
}
.p-sub-kv__heading-en {
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 760px) {
  .p-sub-kv__heading-en {
    font-size: 12px;
  }
}

@media screen and (max-width: 760px) {
  .page-id-8 .p-sub-kv__heading {
    width: 220px;
  }
}

.swiper {
  height: 100%;
  position: relative;
}

.swiper-text {
  position: absolute;
  bottom: 60px;
  left: 3%;
  color: #000;
  background-color: #fff;
  font-weight: bold;
  padding: 40px 80px;
  border-radius: 100vh;
}
@media screen and (max-width: 1270px) {
  .swiper-text {
    padding: 30px 60px;
  }
}
@media screen and (max-width: 760px) {
  .swiper-text {
    bottom: 20px;
    padding: 20px 40px;
  }
}
.swiper-text__jp {
  font-size: 40px;
  letter-spacing: 0.1em;
  line-height: 1.3;
}
@media screen and (max-width: 1270px) {
  .swiper-text__jp {
    font-size: 32px;
  }
}
@media screen and (max-width: 760px) {
  .swiper-text__jp {
    font-size: 24px;
  }
}
.swiper-text__en {
  font-size: 14px;
  margin-bottom: 10px;
}
@media screen and (max-width: 760px) {
  .swiper-text__en {
    font-size: 12px;
  }
}

.swiper-slide-active .swiper-text {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.p-time__inner {
  max-width: 660px;
  padding: 0 30px;
  margin: 0 auto;
}
@media screen and (max-width: 760px) {
  .p-time__inner {
    padding: 0 20px;
  }
}
.p-time__heading {
  padding-bottom: 16px;
  border-bottom: 1px solid #b4b3b3;
  text-align: center;
}
.p-time__table-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid #b4b3b3;
}
.p-time__table {
  text-align: center;
}
.p-time__table th {
  text-align: center;
  font-weight: bold;
}
.p-time__table td {
  width: 12%;
  height: 60px;
  border-right: solid 1px #b4b3b3;
}
.p-time th.p-time__table-time {
  text-align: left;
  border-right: solid 1px #b4b3b3;
  font-weight: normal;
  padding-right: 10px;
  white-space: nowrap;
}
.p-time__note-wrapper {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 32px;
}
@media screen and (max-width: 760px) {
  .p-time__note-wrapper {
    font-size: 12px;
  }
}
.p-time__note-wrapper > div + div {
  margin-top: 4px;
}

.p-top-about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1270px) {
  .p-top-about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
}
.p-top-about__img-wrapper {
  width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 650px;
}
@media screen and (max-width: 1270px) {
  .p-top-about__img-wrapper {
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 760px) {
  .p-top-about__img-wrapper {
    height: 250px;
  }
}
.p-top-about__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left 25% top 20%;
     object-position: left 25% top 20%;
  border-radius: 20px;
}
.p-top-about__heading {
  position: relative;
  font-weight: bold;
}
.p-top-about__heading::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  margin-left: 16px;
  background-color: #000;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.p-top-about__text01 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 760px) {
  .p-top-about__text01 {
    font-size: 20px;
  }
}
.p-top-about__text02, .p-top-about__text03, .p-top-about__text04 {
  line-height: 1.8;
}
.p-top-about__text-wrapper > div + div {
  margin-top: 28px;
}
.p-top-about__text-wrapper > div:last-child {
  margin-top: 50px;
}

.p-top-access__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 760px) {
  .p-top-access__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.p-top-access__map-wrapper {
  width: 50%;
}
@media screen and (max-width: 760px) {
  .p-top-access__map-wrapper {
    width: 100%;
  }
}
.p-top-access__map-wrapper iframe {
  height: 450px;
  width: 100%;
}
@media screen and (max-width: 760px) {
  .p-top-access__map-wrapper iframe {
    height: 200px;
  }
}
.p-top-access__text-wrapper {
  padding-left: 70px;
}
@media screen and (max-width: 760px) {
  .p-top-access__text-wrapper {
    padding-left: 0;
    margin-top: 30px;
  }
}
.p-top-access__heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (max-width: 760px) {
  .p-top-access__heading {
    font-size: 18px;
  }
}
.p-top-access__table th {
  font-weight: bold;
  padding: 6px 0;
  width: 80px;
  vertical-align: top;
}
.p-top-access__table td {
  padding: 6px 0;
}
.p-top-access__more {
  margin-top: 30px;
}

.p-top-care__heading {
  text-align: center;
}
.p-top-care__lead {
  text-align: center;
  margin-top: 30px;
}
.p-top-care__body {
  margin-top: 60px;
}
.p-top-care__more {
  margin-top: 60px;
  text-align: center;
}

.wordpress-content > *:first-child {
  margin-top: 0;
}

.wordpress-content p {
  line-height: 1.8;
  margin-top: 30px;
}
.wordpress-content ol,
.wordpress-content ul {
  margin-top: 30px;
}
.wordpress-content li {
  line-height: 1.8;
}
.wordpress-content ol li {
  list-style-type: decimal;
  list-style-position: inside;
}
.wordpress-content ul li {
  padding-left: 20px;
  position: relative;
}
.wordpress-content ul li::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  left: 4px;
  top: 0.7em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background-color: #000;
}
.wordpress-content li + li {
  margin-top: 10px;
}
.wordpress-content h3 {
  font-size: 22px;
  font-weight: bold;
  padding-left: 14px;
  border-left: 4px solid #000;
  margin-top: 30px;
}
@media screen and (max-width: 760px) {
  .wordpress-content h3 {
    font-size: 18px;
  }
}
.wordpress-content h3 + p {
  margin-top: 20px;
}
.wordpress-content strong {
  font-weight: bold;
}
.wordpress-content a {
  text-decoration: underline;
  color: #3b81ba;
}
.wordpress-content blockquote {
  padding: 26px 30px 26px 74px;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 30px;
}
.wordpress-content blockquote::before {
  position: absolute;
  content: "“";
  font-size: 90px;
  color: #B4B4B4;
  top: 20px;
  left: 20px;
}
.wordpress-content blockquote p {
  margin-top: 0;
}

.u-pc-only {
  display: block;
}
@media screen and (max-width: 1270px) {
  .u-pc-only {
    display: none;
  }
}

.u-pc-tb-only {
  display: block;
}
@media screen and (max-width: 760px) {
  .u-pc-tb-only {
    display: none;
  }
}

.u-tb-sp-only {
  display: none;
}
@media screen and (max-width: 1270px) {
  .u-tb-sp-only {
    display: block;
  }
}

.u-sp-only {
  display: none;
}
@media screen and (max-width: 760px) {
  .u-sp-only {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */