@use "../global" as *;


.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;

  &__inner {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    font-weight: bold;
    transition: all 0.3s;

    @include mq(lv1280) {
      height: 120px;
      padding: 0 20px;
    }

    @include mq(lv767) {
      height: 90px;
    }
  }

  &__logo {
    width: 220px;

    @include mq(lv767) {
      width: 180px;
    }
  }

  &__logo-link {
    display: block;
  }

  &__nav {
    display: flex;
    column-gap: 30px;

    @include mq(lv1280) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      row-gap: 60px;
      justify-content: center;
      text-align: center;
      visibility: hidden;
      width: 100%;
      height: 100%;
      transition: visibility 0.3s, opacity 0.3s ease;
      opacity: 0;
      background-color: rgba(255, 255, 255, 0.9);
  
  
      &.is-show {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 30px;

    @include mq(lv1280) {
      flex-direction: column;
      row-gap: 30px;
    }

    @include mq(lv767) {
      row-gap: 20px;
    }
  }

  &__item {
    font-size: 18px;
    letter-spacing: 0.1em;

    @include mq(lv767) {
      font-size: 16px;
    }

    span {
      display: block;
      font-size: 12px;
      margin-top: 4px;
      letter-spacing: initial;
    }
  }

  &__item-link {
    display: block;
  }

  &__info {
    border-left: 1px solid #000;
    padding-left: 30px;

    @include mq(lv1280) {
      padding-left: 0;
      border-left: none;
    }
  }
}

.l-header.is-active {
  .l-header__inner {
    height: 120px;

    @include mq(lv1280) {
      height: 100px;
    }

    @include mq(lv767) {
      height: 90px;
    }
  }
}