@use "../../global" as *;


.u-pc-only {
  display: block;

  @include mq(lv1280) {
    display: none;
  }
}

.u-pc-tb-only {
  display: block;

  @include mq(lv767) {
    display: none;
  }
}

.u-tb-sp-only {
  display: none;

  @include mq(lv1280) {
    display: block;
  }
}

.u-sp-only {
  display: none;

  @include mq(lv767) {
    display: block;
  }
}
